
h1 {
    font-size:1.8rem;
    font-weight: 900;
    margin-bottom:1rem;  
    margin-top:.5rem;    
}

h2{
    font-family: 'Overpass', sans-serif;
    font-weight:300;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight:800;
    padding:.5em 0em .5em 0em;
    margin:2em 0 0 0;
}

.section-banner > h2 {
    font-weight: 300;
}

h3{
    font-family: 'Overpass', sans-serif;
    font-size:1.2rem;
    font-weight:800;
    padding:.5em 0em .5em 0em;
    margin:2em 0 0 0;
}

p, li{
    font-family: 'Overpass', sans-serif;
    font-weight:300;
    font-size: 1.2rem;
    line-height: 1.5em;
}
h4{
    font-size:1rem;
    font-weight:800;
}
ul li, ol li{
    margin-bottom:1em;
}
.axis-tick {
    font-size:.8rem;
}
.plot-title{
    font-size:1.2rem;
    font-weight:700;
}
.plot-label {
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight:700;
}
.legend-label{
    font-size:.8rem;
    font-weight:900;
    color:#888888;
}

.ps-flag-banner{
    font-weight:700;
    fill:white;  
}
#flag-banner-label{
    text-transform: uppercase;
}
.flag-label{
    font-size:1.5em;
    font-weight:300;
}
.bold{
    font-weight:800;
}

#distribution-path-label-average{
    fill:#888888;
}
.dvi-color, #gradientplot-label-riskbin-increased{
    color:#EF4351; 
    fill:#EF4351; 
}
.dvr-color, #gradientplot-label-riskbin-decreased{
    color:#00A9BA;
    fill:#00A9BA;
}
.v-color{
    color:#DFA626;
}
.non-v-color, #gradientplot-label-riskbin-average{
    color:#888888;
    fill:#888888;
}

b{
    font-weight:700;
}

